<section>

  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h4>Mis Libros</h4>
    </div>
    <div class="d-flex justify-content-between">
      <h4>Mi saldo ${{ saldo }}</h4>
    </div>
    <div class="d-flex justify-content-end">
      <a routerLink="/lector/saldo" class="btn btn-info">Recargar Saldo</a>&nbsp;
      <a routerLink="/lector/promotion" class="btn btn-success">Nuevas Reservas</a>&nbsp;
      <a routerLink="/lector/nuevasIdeas" class="btn btn-warning text-white">Nuevas Ideas</a>
    </div>
  </div>

  <br>

  <table class="table text-center">
    <tr>
      <th>Libro</th>
      <th>Autor</th>
      <th>Libreria</th>
      <th>Fecha Reserva</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let data of lectores">
      <td>{{ data.nombre_libro }}</td>
      <td>{{ data.autor_libro }}</td>
      <td>{{ data.libreria }}</td>
      <td>{{ data.fecha_reserva }}</td>
      <td>
        <button type="button" (click)="borrarLibro(data.id,data.id_libro)" class="btn btn-danger">Inactivar</button>
      </td>
    </tr>
  </table>
</section>

