<div>

  <div class="d-flex justify-content-between">
    <h4>Promoción Libro</h4>
    <a href="#" routerLink="/autor/index" class="btn btn-primary">Inicio</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="procentaje">Porcentaje descuento:</label>
        <input formControlName="procentaje" id="procentaje" type="number" min="1" class="form-control">
        <div *ngIf="f.procentaje.touched && f.procentaje.invalid" class="alert alert-danger">
          <div *ngIf="f.procentaje.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.procentaje.errors.procentaje">* Debe ser sólo números y mayor a 0.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="fecha_hasta">Fecha hasta:</label>
        <input formControlName="fecha_hasta" id="fecha_hasta" type="date" min="{{fechaMin | date:'yyyy-MM-dd'}}" class="form-control">
        <div *ngIf="f.fecha_hasta.touched && f.fecha_hasta.invalid" class="alert alert-danger">
          <div *ngIf="f.fecha_hasta.errors.required">* Este campo es requerido.</div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Registrar</button>
  </form>
</div>
