<section>

  <div class="d-flex justify-content-between">
    <h4>Listado de usuarios</h4>
  </div>

  <br>

  <table class="table text-center">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Promoción</th>
      <th>Nuevas Ideas</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let libro of empleados">
      <td>{{ libro.nombre }}</td>
      <td>{{ libro.descripcion }}</td>
      <td>${{ libro.precio }}</td>
      <div *ngIf="libro.promocion == 'SI'; then promocionSI else promocionNo"></div>
      <ng-template #promocionSI>
        <td>Solicitado</td>
      </ng-template>
      <ng-template #promocionNo>
        <td>Sin solicitar</td>
      </ng-template>
      <div *ngIf="libro.nueva_idea == 'SI'; then nueva_ideaSI else nueva_ideaNO"></div>
      <ng-template #nueva_ideaSI>
        <div *ngIf="libro.donacionLibreria; then donacionSI else donacionNO"></div>
        <ng-template #donacionSI>
          <td><button type="button" (click)="completarDonacion(libro.id)" class="btn btn-success">Completar Donación</button></td>
        </ng-template>
        <ng-template #donacionNO>
          <td>Porcentaje donación {{ libro.porcentaje }}%</td>
        </ng-template>
      </ng-template>
      <ng-template #nueva_ideaNO>
        <td>Sin solicitar</td>
      </ng-template>
      <td>
        <button type="button" (click)="borrarLibro(usuario.id)" class="btn btn-danger">Inactivar</button>
      </td>
    </tr>
  </table>
</section>

