<div>

  <div class="d-flex justify-content-between">
    <h4>Nueva Idea</h4>
    <a href="#" routerLink="/autor/index" class="btn btn-primary">Inicio</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="valor_meta">Valor a recaudar:</label>
        <input formControlName="valor_meta" id="valor_meta" type="number" min="1" class="form-control">
        <div *ngIf="f.valor_meta.touched && f.valor_meta.invalid" class="alert alert-danger">
          <div *ngIf="f.valor_meta.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.valor_meta.errors.valor_meta">* Debe ser sólo números y mayor a 0.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="fecha_maxima">Días:</label>
        <input formControlName="fecha_maxima" id="fecha_maxima" type="number" min="1" class="form-control">
        <div *ngIf="f.fecha_maxima.touched && f.fecha_maxima.invalid" class="alert alert-danger">
          <div *ngIf="f.fecha_maxima.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.fecha_maxima.errors.fecha_maxima">* Debe ser sólo números y mayor a 0.</div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Registrar</button>
  </form>
</div>
