<div>

  <div class="d-flex justify-content-between">
    <h4>Nuevo Libro</h4>
    <a href="#" routerLink="/autor/index" class="btn btn-primary">Inicio</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="title">Nombre:</label>
        <input formControlName="nombre" id="nombre" type="text" class="form-control">
        <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
          <div *ngIf="f.nombre.errors.required">* Este campo es requerido.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="descripcion">Descripción:</label>
        <input formControlName="descripcion" id="descripcion" type="text" class="form-control">
        <div *ngIf="f.descripcion.touched && f.descripcion.invalid" class="alert alert-danger">
          <div *ngIf="f.descripcion.errors.required">* Este campo es requerido.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="precio">Precio:</label>
        <input
          formControlName="precio" id="precio" type="number" min="1" class="form-control">
        <div *ngIf="f.precio.touched && f.precio.invalid" class="alert alert-danger">
          <div *ngIf="f.precio.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.precio.errors.precio">* Debe ser sólo números.</div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Registrar</button>
  </form>
</div>
