<div>

  <div class="d-flex justify-content-between">
    <h4>Recargar Saldo</h4>
    <a href="#" routerLink="/lector/index" class="btn btn-primary">Inicio</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="title">Saldo a recargar:</label>
        <input formControlName="saldo" id="saldo" type="number" class="form-control" min="1">
        <div *ngIf="f.saldo.touched && f.saldo.invalid" class="alert alert-danger">
          <div *ngIf="f.saldo.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.saldo.errors.pattern">* El saldo solo debe contener números positivos.</div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Recargar</button>
  </form>
</div>
