<section>

  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h4>Listado de mis libros</h4>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" (click)="reportePDF()" class="btn btn-success">Reporte Ventas</button>&nbsp;
      <a routerLink="/autor/create" class="btn btn-info">Crear Nuevo Libro</a>
    </div>

  </div>

  <br>

  <table class="table text-center">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Promoción</th>
      <th>Nueva Idea</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let autor of autores">
      <td>{{ autor.nombre }}</td>
      <td>{{ autor.descripcion }}</td>
      <td>${{ autor.precio }}</td>
      <div *ngIf="autor.promocion == 'SI'; then promocionSi else promocionNo"></div>
      <ng-template #promocionSi>
        <td><b>Realizado</b></td>
        <td><b>Libro Promocionado.</b></td>
      </ng-template>
      <ng-template #promocionNo>
        <div *ngIf="autor.nueva_idea == 'SI' && autor.meta_cumplida == 'SI'; then nueva_ideaSiMeta else nueva_ideaNoMeta"></div>
        <ng-template #nueva_ideaSiMeta>
          <td><a href="#" [routerLink]="['/autor/', 'promocion', autor.id ]" class="btn btn-warning text-white">Crear</a></td>
          <td><b>Meta Alcanzada.</b></td>
        </ng-template>
        <ng-template #nueva_ideaNoMeta>
          <div *ngIf="autor.nueva_idea == 'SI' && autor.meta_cumplida == 'NO'; then nueva_ideaSi else nueva_ideaNo"></div>
          <ng-template #nueva_ideaSi>
            <td><b>Aún no se puede solicitar.</b></td>
            <td><b>Avance del recaudo {{ autor.porcentaje }}%</b></td>
          </ng-template>
          <ng-template #nueva_ideaNo>
            <td><a href="#" [routerLink]="['/autor/', 'promocion', autor.id ]" class="btn btn-warning text-white">Crear</a></td>
            <td><a href="#" [routerLink]="['/autor/', 'nuevas-ideas', autor.id ]" class="btn btn-success">Solicitar</a></td>
          </ng-template>
        </ng-template>
      </ng-template>
      <td>
        <a href="#" [routerLink]="['/autor/', 'edit', autor.id  ]" class="btn btn-primary">Editar</a>&nbsp;
        <button type="button" (click)="borrarLibro(autor.id)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </table>
</section>

