<section>

  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h4>Mis Libros</h4>
    </div>
    <div class="d-flex justify-content-end">
      <a routerLink="/lector/index" class="btn btn-info">Volver a mis libros</a>
    </div>
  </div>

  <br>

  <table class="table text-center">
    <tr>
      <th>Libro</th>
      <th>Autor</th>
      <th>Librería</th>
      <th>Valor Recaudo</th>
      <th>Porcentaje</th>
      <th>Valor Meta</th>
      <th>Donación Hasta</th>
      <th>Valor Donación</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let data of lectores">
      <td>{{ data.nombre_libro }}</td>
      <td>{{ data.autor_libro }}</td>
      <td>{{ data.libreria }}</td>
      <td>${{ data.valor_recaudado }}</td>
      <td class="text-monospace">{{ data.porcentaje }}%</td>
      <td class="text-monospace">${{ data.valor_meta }}</td>
      <td>{{ data.fecha_maxima }}</td>
      <td><input id="donacion-{{data.id}}" type="number" placeholder="Donativo" value="0" min="1"></td>
      <td>
        <button type="button" (click)="donateIdea(data.id)" class="btn btn-success">Donar</button>
      </td>
    </tr>
  </table>
</section>
