<section>

  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h4>Mis Libros</h4>
    </div>
    <div class="d-flex justify-content">
      <h5 class="text-md-center">Filtro:</h5>&nbsp;
      <input [(ngModel)]="filtro" id="filtro" type="text" class="form-control input-group-lg" placeholder="Buscar por Libro o Autor...">&nbsp;
      <button type="button" (click)="searchPromotion(filtro)" class="btn btn-dark btn-sm">Buscar</button>
    </div>
    <div class="d-flex justify-content-end">
      <a routerLink="/lector/index" class="btn btn-info">Volver a mis libros</a>
    </div>
  </div>

  <br>

  <table class="table text-center">
    <tr>
      <th>Libro</th>
      <th>Autor</th>
      <th>Libreria</th>
      <th>Precio Venta</th>
      <th>Descuento</th>
      <th>Valor Compra</th>
      <th>Promoción Hasta</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let data of lectores">
      <td>{{ data.nombre_libro }}</td>
      <td>{{ data.autor_libro }}</td>
      <td>{{ data.libreria }}</td>
      <td>${{ data.precio }}</td>
      <td class="text-monospace">{{ data.descuento }}%</td>
      <td class="text-monospace">${{ data.nuevo_precio }}</td>
      <td>{{ data.fecha_maxima }}</td>
      <td>
        <button type="button" (click)="buyLibro(data.id,data.nuevo_precio)" class="btn btn-success">Comprar</button>
      </td>
    </tr>
  </table>
</section>
